<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>葛飾区について</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>

    <img class="main-visual" src="https://lh3.googleusercontent.com/gps-cs-s/APNQkAFY1UXMG-pR6jnWJ4sLYBTlkBhpYifpuft4l-IIz7maCrmGhdcgcDbmm4mjmzzt6eP7HmKBJWvR_-4UmTnVlLv67a4i1kiqDiMdWRdAT2gQy_0nfDvC4AKYFN_jcZqXWRRnlYqU=s680-w680-h510" />
    
    <main>
        <h1>葛飾区について</h1>

        <section id="subculture">
            <h2>サブカルチャーの聖地</h2>

            <ul>
                <li>柴又は、 <span class="bold">映画「男はつらいよ」</span>の聖地で、国の重要文化的景観に選定されています</li>
                <li>亀有は、 <span class="bold">漫画「こち亀」</span>の聖地として知られており、駅周辺には両津勘吉の銅像があります</li>
                <li>立石周辺は、<span class="bold">漫画「キャプテン翼」</span>の作者、<span class="bold">高橋陽一氏</span>の出身地であり、その作品の銅像が置かれています</li>
            </ul>
        </section>

        <section id="manufacturing">
            <h2>ものづくり</h2>

            <ul>
                <li>立石に、<span class="bold">株式会社「タカラトミー」</span>の本社があります</li>
                <li>ディズニー、ポケットモンスター、サンリオ、ドラえもんなど、誰もが知る人気キャラクターのぬいぐるみを多数手がけている、<span class="bold">日本の老舗玩具メーカー「セキグチ」</span>があります</li>
            </ul>
        </section>
    </main>
</body>
</html>